.dashboard-container {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}
.card-light {
    padding: 5px 15px;
}
table thead {
    border-bottom: solid 1px #c6213fad;
}

table thead th,
table tbody th a {
    color: #C6213F !important;
    font-size: 0.8rem;
    text-align: center;
}

table tbody tr {
    text-align: center;
    font-size: 0.9rem;
    /* cursor: pointer; */
}
p.text {
    margin-right: 1rem;
    color: rgb(97, 96, 96);
    font-size: 0.9rem;
}
p.text-small {
    margin-top: 1rem;
    color: rgb(97, 96, 96);
    font-size: 0.7rem;
}
text {
    margin-right: 1rem;
    color: rgb(97, 96, 96);
    font-size: 0.9rem;
    cursor: pointer;
}
.docFIRST_DRAFT,
.docFINAL,
.docDELIVERED,
.payments {
    cursor: pointer;
}
input[type=file]::file-selector-button {
    background: transparent linear-gradient(71deg, #C6213F 0%, #BB1019 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: none;
    color: #fff;
    padding: 10px 15px;
    margin-right: 20px;
}
#submitDoc .d-flex {
    align-items: center;
}
.file-control {
    border: none !important;
    padding-left: 0;
    height: 60px;
    font-size: 13px;
    width: fit-content;
}
span.remove-file {
    font-weight: 600;
    color: #C6213F;
    transform: translateY(11px);
    cursor: pointer;
}

#submitDoc input, label, select, option, textarea, .custom-select {
    font-size: 0.9rem;
}
#submitDoc .custom-modal-width {
    max-width: 55%;
}
#submitDoc ol {
    font-size: 0.9rem;
}
#submitDoc .file-group p.error {
    margin-left: 10px;
    margin-top: 6px;
}
/* For forced responsive */
@media(max-width: 800px) {
    body {
        width: 1000px;
    }
}
h1.filter-dropdown {
    font-weight: 600;
}
#uploadDoc .priroty-wrap {
    justify-content: center;
}
.table tbody tr {
    position: relative;
}
.table tbody th.notify::before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: #C6213F;
    position: absolute;
    left: 2px;
    top: 20px;
    border-radius: 5px;
}
p.alert {
    color: darkred;
    font-weight: 600;
}


/* Admin Dashboard */
.admin-dashboard .truncate {
    width: 222px;
}
.admin-dashboard table tbody tr {
    font-size: 0.8rem;
}
.admin-dashboard .custom-button-small {
    padding: 0.4rem 1rem !important;
}
.admin-dashboard table tbody tr td.editable:nth-child(3) span,
.admin-dashboard table tbody tr td.editable:nth-child(4) span,
.admin-dashboard table tbody tr td.editable:nth-child(5) span {
    border: 2px solid #C6213F;
    padding: 5px 10px;
    margin: -5px 0px;
    display: inline-block;
    border-radius: 5px;
}
.flex-btn-wrap {
    position: absolute;
    bottom: 0;
    right: 12px;
}
.admin-dashboard .flex-btn-wrap .custom-button {
    padding: 0.5rem 1.7rem !important;
}
#sampleDoc .d-flex {
    align-items: center;
}
#sampleDoc span.remove-file,
#submitDoc span.remove-file {
    transform: translateY(-3px) !important;
}
#sampleDoc p.error {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}
#uploadDraftFile p.error,
#uploadFile p.error,
#draftFeedback p.error,
#finalDocUpload p.error {
    margin-top: 0.8rem;
    margin-left: 0.5rem;
}
#updateDoc .modal-content p {
    font-weight: 600;
    text-align: left;
    font-size: 0.9rem;
    color: #6e6e6e;
}
#updateDoc .modal-content p span {
    color: #C6213F;
}
td.doc-actions .icon {
    cursor: pointer;
}
td.draft-upload,
td.draft-feedback,
td.final {
    cursor: pointer;
}
td.status {
    font-weight: 600;
}